---
layout: default
title: Coleção Casa Valverde
---
<h1>Coleção Casa Valverde</h1>

<p>
Criações autorais  desenvolvidas por mim para levar um pouco do frescor do verde e a sensação de aconchego que tenho no meu  jardim.
Uma série botânica feita com muito carinho, da minha casa para a sua.
</p>

<p>
Esta série possui 3 folhagens <i>(Eucalipto, Monstera e Palmeira Fênix)</i> e 3 temperos <i>(Manjericão, Orégano e Alecrim)</i>. As obras são reproduções em <i>fine art</i>, com altíssima qualidade, retratando fielmente às aquarelas originais.
</p>

<p>
As impressões desta coleção são numeradas e 𝙇𝙄𝙈𝙄𝙏𝘼𝘿𝘼𝙎, garantindo exclusividade aos meus clientes. Além disso, todas as impressões possuem um certificado de autenticidade e podem ser adquiridas individualmente ou em trio.
</p>

<p>
Para estas impressões são utilizados papéis livres de ácido e lignina e tintas à base de pigmentos minerais, garantindo o grande alcance de cores e longevidade da arte. Tudo feito com muito capricho para amantes da arte botânica e home decor.
</p>

<p>
• Impressão em papel 100% algodão - Hahnemühle Museum Etching 350 g/m²;<br />
• Reprodução fiel à aquarela original;
</p>

{% include painting.html
  title="Monstera" 
  date="Setembro/2022"
  dimensions="30x40cm (A3) ou 24x30cm (A4)"
  more="Fine art - Impressão em papel 100% algodão - Hahnemuhle Museum Etching 350 g/m².<br /><br />
	Reprodução fiel à Aquarela original.<br /><br />
	<i>*Moldura não inclusa</i>."
  price="A3: ???; A4: ???"
  image1="monstera-1.JPG"
  paintingID="monstera"
%}

{% include painting.html
  title="Palmeira Fênix" 
  date="Setembro/2022"
  dimensions="30x40cm (A3) ou 24x30cm (A4)"
  more="Fine art - Impressão em papel 100% algodão - Hahnemuhle Museum Etching 350 g/m².<br /><br />
	Reprodução fiel à Aquarela original.<br /><br />
	<i>*Moldura não inclusa</i>."
  price="A3: ???; A4: ???"
  image1="palmeira-1.JPG"
  paintingID="palmeira"
%}

{% include painting.html
  title="Eucalipto" 
  date="Setembro/2022"
  dimensions="30x40cm (A3) ou 24x30cm (A4)"
  more="Fine art - Impressão em papel 100% algodão - Hahnemuhle Museum Etching 350 g/m².<br /><br />
  Reprodução fiel à Aquarela original.<br /><br />
  <i>*Moldura não inclusa</i>."
  price="A3: ???; A4: ???"
  image1="eucalipto-1.JPG"
  paintingID="eucalipto"
%}

{% include painting.html
  title="Manjericão" 
  date="Setembro/2022"
  dimensions="15x21cm (A5)"
  more="Fine art - Impressão em papel 100% algodão - Hahnemuhle Museum Etching 350 g/m².<br /><br />
  Reprodução fiel à Aquarela original.<br /><br />
  <i>*Moldura não inclusa</i>."
  price="R$?????"
  image1="manjericao-1.JPG"
  paintingID="manjericao"
%}

{% include painting.html
  title="Alecrim" 
  date="Setembro/2022"
  dimensions="15x21cm (A5)"
  more="Fine art - Impressão em papel 100% algodão - Hahnemuhle Museum Etching 350 g/m².<br /><br />
  Reprodução fiel à Aquarela original.<br /><br />
  <i>*Moldura não inclusa</i>."
  price="R$?????"
  image1="alecrim-1.JPG"
  paintingID="alecrim"
%}

{% include painting.html
  title="Orégano" 
  date="Setembro/2022"
  dimensions="15x21cm (A5)"
  more="Fine art - Impressão em papel 100% algodão - Hahnemuhle Museum Etching 350 g/m².<br /><br />
  Reprodução fiel à Aquarela original.<br /><br />
  <i>*Moldura não inclusa</i>."
  price="R$?????"
  image1="oregano-1.JPG"
  paintingID="oregano"
%}
