---
layout: default
title: Aquarelas Originais
---

<h1>Aquarelas Originais</h1>

<p>Aquarelas únicas que carregam sensibilidade e conexão com a natureza. Já emolduradas e à pronta entrega. Confira abaixo as obras disponíveis no momento.</p>

{% include painting.html 
  title="Ciclos" 
  date="Dezembro/2022"
  dimensions="Arte: 31x41cm - A3. Moldura: 56x46cm"
  more="Aquarela em papel Saunders Waterford - 300g/m² -100% algodão.<br /><br />Moldura com foam board e paspatur."
  price="R$698,00"
  image1="ciclos-1.JPG" 
  image2="ciclos-2.JPG" 
  image3="ciclos-3.JPG"
  paintingID="ciclos"
%}

{% include painting.html 
  title="Flor de Zínnia"
  date="Dezembro/2022"
  dimensions="Arte: 31x41cm - A3. Moldura: 56x46cm"
  more="Aquarela em papel Saunders Waterford - 300g/m² -100% algodão.<br /><br />Moldura com foam board e paspatur."
  price="R$628,00"
  paintingID="zinnia"
  image1="zinnia1.jpeg"
%}

{% include painting.html 
  title="A rosa e o tempo"
  date="Novembro/2022"
  dimensions="Arte: 30x40cm - A3. Moldura: 44,2x54cm"
  more="Aquarela em papel Hahnemulhe Expression - 300g/m² - 100% algodão.<br /><br />
Moldura com foam board e paspatur."
  price="R$644,00"
  paintingID="rosa"
  image1="rosa-1.jpeg" 
  image2="rosa-2.JPG"
%}

{% include painting.html 
  title="Leveza"
  date="Novembro/2022"
  dimensions="Arte: 30x40cm - A3. Moldura: 45x55cm"
  more="Aquarela em papel Hahnemulhe Expression - 300g/m² - 100% algodão.<br /><br />
Moldura com foam board e paspatur."
  price="R$552,00"
  paintingID="leveza"
  image1="leveza-1.PNG"
%}
