<nav>
      <div class="navbar">
        <div class="container nav-container">
          <input class="checkbox" type="checkbox" name="" id="" />
          <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
          </div>  
          <div class="logo">
            <img src="assets/images/LOGO3.png" id="logo">
          </div>
          <div class="menu-items">
            <li><a href="./index.html">Início</a></li>
            <li><a href="./obras-originais.html">Aquarelas Originais</a></li>
            <li><a href="./colecao-casa-valverde.html">Coleção Casa Valverde</a></li>
            <li><a href="./index.html#AquarelasPersonalizadas">Aquarelas Personalizadas</a></li>
            <li><a href="./index.html#Sobre">Sobre</a></li>
            <li><a href="./index.html#Contato">Contato</a></li>
          </div>
        </div>
      </div>
    </nav>