<div class="slider-wrapper">
	<div class="slider">
		{% if include.image1 %}
  		<img src="assets/images/{{ include.image1 }}.JPG" id="{{ include.image1 }}-slide">
		{% endif %}
		
		{% if include.image2 %}
  		<img src="assets/images/{{ include.image2 }}.JPG" id="{{ include.image2 }}-slide">
		{% endif %}
	</div>
	<div class="slider-nav">
		{% if include.image1 %}
		<a href="#{{ include.image1 }}-slide"></a>
		{% endif %}

		{% if include.image2 %}
		<a href="#{{ include.image2 }}-slide"></a>
		{% endif %}
	</div>
</div>